// variables

$base-font-family: -apple-system, system-ui, 'Helvetica Neue', sans-serif;
$base-font-size: 14px;
$base-color: #fff;
$background-color: #111;

$status-bar-height: 26px;
$status-bar-background: #444;
